/*---------------------------- COLOR ----------------------------*/
$m-color: #a5c544;
$ms-color: #3c7d38;
$s-color: #a5c544;
$c-black: #333;
$c-green: green;
$c-orange: orange;
$c-yellow: yellow;
$gray : #999;


/*---------------------------- COLOR ----------------------------*/
$main : rgba(0,141,255,1);;
$sky:#61a8ff;
$skyBlue: #e0ebff;
$green: #d1f6f8;
$gra : linear-gradient(360deg, #97a8ff, #5ba8ff);
$gra2 : linear-gradient(270deg, #4ad4e8, #78b0f6);
$gra3 : linear-gradient(-112deg, #c9d4ff, #92c3ff);
/*---------------------------- 화살표 ----------------------------*/


/*---------------------------- 반응형 ----------------------------*/
$b-web: 1200px;
$b-tab: 900px;
$b-mo: 600px;
$b-sm-mo: 360px;

$zIndex-set: (
  popup: 100,
  fixed: 20,
  header: 10,
  double: 2,
  default: 1,
  zero: 0,
  minus: -1,
);

$path-set: (
  icon: "../img/icon/",
  img: "../img/",
  logo: "../img/logo/",
  object: "../img/object/",
);
